RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

#Set post max size to 30MB
php_value upload_max_filesize 30M

#Set upload max filesize to 30MB
php_value post_max_size 30M 

#Set max memory used
php_value memory_limit 1024M

#set timeout processlimit
php_value max_execution_time 120
